<div class="main-container">
    <div class="row">
        <div class="col-md-4 offset-md-4 animated fadeIn">
            <mat-card class="card-container align-items-center">
                <div class="card-elements justify-content-center">
                    <mdb-icon fas icon="home" size="10x"></mdb-icon>
                </div>

                <mat-card-content class="card-elements card-content justify-content-center">
                    <mat-label>404 - La pagina solicitada no existe</mat-label>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
