.main-container {
    margin-top: 5%;
    margin-bottom: 10%;
}

.card-container {
    background-color: #EAEDF4;
}

.card-content {
    margin-top: 2em;
}

.card-elements {
    display: flex;
    flex-direction: row;
}